<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>Archetype Created Web Application</display-name>

	<!-- 设定Spring的根上下文 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext*.xml</param-value>
	</context-param>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>captchaServlet</servlet-name>
		<servlet-class>com.kk.captcha.servlet.CaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>captchaServlet</servlet-name>
		<url-pattern>/captcha</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>testCaptchaServlet</servlet-name>
		<servlet-class>com.kk.captcha.servlet.TestCaptchaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>testCaptchaServlet</servlet-name>
		<url-pattern>/test/captcha</url-pattern>
	</servlet-mapping>

</web-app>
